.App-logo {
  height: 24px;
  pointer-events: none;
  position: relative;
  bottom: 2px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  text-align: center;
}

table th {
  width: 10%;
}

.pokeicon {
  display: block;
  width: 40px;
  height: 30px;
  margin: 0px auto;
}

.myTableHeader, .myTableBody {
  text-align: center;
  font-size: smaller;
}

.myTableHeader {
  font-weight: bold;
  border-bottom: #282c34 1px solid;
  padding-bottom: 6px;
}

.myTableBody {
  line-height: 38px;
  text-decoration: none;
  color: black;
}

.typeTag {
  height: 14px !important;
  width: 32px !important;
  margin: 0px 1px;
}

div [class=container], header nav, footer {
  min-width: 1320px;
}

.sprite {
  margin: 0px 6px;
}

.sm-card{
  min-height: 120px !important;
  margin-bottom: 1.5rem;
}

.sm-card div[class=card-body] {
  text-align: center;
  line-height: 38px;
}

h1 small {
  color: lightslategray;
}

.smallText, small{
  font-size: small;
}

.boldText {
  font-weight: bold;
}

.noMargin {
  margin: 0px;
}

.textAlignLeft {
  text-align: left;
}

.textAlignCenter {
  text-align: center;
}

.textAlignRight {
  text-align: right;
}

.prevNext a:first-child {
  border-right: 1px solid lightslategray;
  margin-right: 20px;
  padding-right: calc(var(--bs-navbar-nav-link-padding-x) + 20px) !important;
  text-align: right !important;
}

.prevNext a:last-child {
  border-right: none;
  margin-right: 0px;
  padding-right: var(--bs-navbar-nav-link-padding-x) !important;
  text-align: left;
}

.lowLineHeight {
  line-height: 18px;
  margin-bottom: 10px;
}

.moveList {
  text-align: center;
}

.moveList button:nth-child(odd), .moveList a:nth-child(odd) {
  background-color:lavender !important;
}

div[class=accordion] {
  margin-bottom: 1.25rem;
}

.accordion-header button {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.loginForm input, .loginForm button {
  margin-top: 12px;
}

a.myTableBody{
  cursor: pointer;
}

button.link {
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 1px 0px;
  border-radius: 0px;
}

.moveList .typeTag {
  position: relative;
  bottom:1px;
}

.moveList button.link {
  margin-bottom: 4px;
}

#partyPokemon div.col-6 {
  position: relative;
  right: 5px;
}

#partyPokemon div.col-6:nth-child(odd) {
  right: -5px;
}

.partyPokemonMoves div[class='col-6']:nth-child(1), .partyPokemonMoves div[class='col-6']:nth-child(4) {
  background-color: lavender;
  border-radius: 4px;
}

.partyPokemonMoves span {
  margin: 0px 10px;
}

.battleListOpts {
  float: right;
}

.battleListOpts button {
  margin-left: 6px;
  min-width: 110px;
}

svg {
  position: relative;
  bottom: 1px;
}

.mySwitch .form-check-input:checked {
  background-color: white !important;
  border-color: white !important;
}

.mySwitch .form-check-input:focus {
  border-color: white !important;
  box-shadow: 0 0 0 0.25rem rgba(220, 249, 247, 0.25) !important;
}

.mySwitch .form-check-input {
  background-image: url('data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27><circle r=%273%27 fill=%27lightgray%27/></svg>') !important;
}

.mySwitch .form-check-input:checked {
  background-image: url('data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27><circle r=%273%27 fill=%27%2351E1D8%27/></svg>') !important;
}

.mySwitch label {
  color: white !important;
}

.progress-bar.bg-warning {
  color:#282c34;
}

.battleMove {
  min-width: 160px;
  margin: 10px 4px 30px 4px;
}

.battleMove p {
  margin: 0px;
}

body {
  background-image: url(https://i.pinimg.com/originals/ce/8f/73/ce8f73d98565e7947b95f1e226155280.jpg);
}

#mainContainer {
  background-color:honeydew;
  min-height: calc(100vh - 100px);
  box-shadow: 0px 0px 50px 50px #157a7580;
  /* color: var(--primary-active-border); */
}

.card-header{
  background-color: var(--primary-bg) !important;
  color: white !important;
}

.card-header label {
  color: gray;
}

footer{
  background-color: #212529;
  color: white;
  text-align: center;
  padding: 10px 0px;
}

:root {
  --accordion-bg: #dcf9f7;

  --primary-bg: lightseagreen;
  --primary-hover: #1c9c96;
  --primary-active: #188b85;
  --primary-active-border: #157A75;

  --success-bg: #8787E8;
  --success-hover: #7676E5;
  --success-active: #6565E2;
  --success-active-border: #5454DE;
}

.btn-primary {
  /* #0d6efd => lightseagreen (#20b2aa) */
  /* #0b53d7 => #1c9c96 */
  /* #0a58ca => #188b85 */
  /* #0a53be => #157A75 */
  --bs-btn-bg: var(--primary-bg) !important;
  --bs-btn-border-color: var(--primary-bg) !important;
  --bs-btn-hover-bg: var(--primary-hover) !important;
  --bs-btn-hover-border-color: var(--primary-active) !important;
  --bs-btn-active-bg: var(--primary-active) !important;
  --bs-btn-active-border-color: var(--primary-active-border) !important;
  --bs-btn-disabled-bg: var(--primary-bg) !important;
  --bs-btn-disabled-border-color: var(--primary-bg) !important;
}

.btn-success {
  --bs-btn-bg: var(--success-bg) !important;
  --bs-btn-border-color: var(--success-bg) !important;
  --bs-btn-hover-bg: var(--success-hover) !important;
  --bs-btn-hover-border-color: var(--success-active) !important;
  --bs-btn-active-bg: var(--success-active) !important;
  --bs-btn-active-border-color: var(--primary-success-border) !important;
  --bs-btn-disabled-bg: var(--succes-bg) !important;
  --bs-btn-disabled-border-color: var(--success-bg) !important;
}

.form-check-input:checked {
  background-color: var(--primary-bg) !important;
  border-color: var(--primary-bg) !important;
}

.accordion-button:focus {
  box-shadow: 0 0 0 0.25rem rgba(32, 178, 170, 0.25) !important;
}

.accordion-button:not(.collapsed) {
  color: var(--primary-active) !important;
  background-color: var(--accordion-bg) !important;
}

.accordion-button:not(.collapsed)::after {
  background-image: url('data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23188b85%27><path fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/></svg>') !important;
}

.accordion-button::after {
  background-image: url('data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23212529%27><path fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/></svg>') !important;
}

.progress-bar.bg-success {
  background-color: var(--success-bg) !important;
}

.spinner-border:not(.text-light) {
  border-color: var(--primary-active-border) !important;
  border-right-color: transparent !important;
}